.lemon-product-detail{
    width:80%;
    margin:0 auto;
    background:#fff;
    box-shadow: 0 0 1px 1px #eee;
    padding:1rem;
    .lemon-scale-photo{
        height:30rem;
        width:100%;
        .product-photo{
            // display:flex;
        }
        img{
            width:30rem;
        }
    }
}